@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Bubbles&display=swap');
header, footer{
    background-color:#CD5C5C;
    padding:7px;
    height:105px;
    color:white;
    text-align:left;
    font-size:50px;
  }
  main{
    padding:10px;
    background-color:#B0E0E6;
      margin-top:0;
    }
  .post{
    background-color:silver;
    padding:15px;
    border-radius:30px;
    margin-bottom:10px;
    display:flex;
  }
  .post img{
    margin:20px;
  }
  .Edgar{
    color:purple;
  }
  .Leon{
    color:yellow;
  }
  .Next{
    color:white;
    text-align:left;
    font-size:35px;
  }
  .Primo{
    color:green;
  }
  .Mortis{
    color:red;
  }
  .Behiend{
    color:white;
    text-align:left;
    font-size:35px;
    float: left;
  }
  .author{
    color:white;
    font-size:35px;
    float: right;
  }
  .Fang{
    color:orange;
  }
  .First{
      font-family:Rubik Bubbles;
  }
  .menu_iframe{
    height:100%;
    width:80%;
    border:none;
  }

 